# Update the databases
...after changing clean_data/hgf_teams.csv manually

# Update clean_data/hgf_teamsmain.csv

In [1]:
import pandas as pd
import numpy as np
import functions

In [2]:
# read all HGF teams
teams = functions.initialize_teams(r"clean_data/hgf_teams.csv")
teams

                            OrigName                         MainName  TeamID
0                           ASV Köln                         ASV Köln       1
1                         ASV Köln 1                         ASV Köln       1
2                         ASV Köln 2                       ASV Köln 2       2
3              ATS Buntentor Knights            ATS Buntentor Knights       3
4                      Baltic Storms                    Baltic Storms       4
..                               ...                              ...     ...
289      SCS Berlin Floorball Nation      SCS Berlin Floorball Nation     224
290                SG Gießen/Marburg                SG Gießen/Marburg     225
291               SG Mainz/St.Wendel               SG Mainz/St.Wendel     226
292  SG TSV Bordesholm / TuS Gaarden  SG TSV Bordesholm / TuS Gaarden     227
293                   TSG Erlensee 2                   TSG Erlensee 2     228

[294 rows x 3 columns]

In [3]:
# create DataFrame with main names only
teamsmain = teams[['MainName','TeamID']]
teamsmainnodup = teamsmain.drop_duplicates()
teamsmainnodup

                            MainName  TeamID
0                           ASV Köln       1
2                         ASV Köln 2       2
3              ATS Buntentor Knights       3
4                      Baltic Storms       4
5                   Baltic Storms II       5
..                               ...     ...
289      SCS Berlin Floorball Nation     224
290                SG Gießen/Marburg     225
291               SG Mainz/St.Wendel     226
292  SG TSV Bordesholm / TuS Gaarden     227
293                   TSG Erlensee 2     228

[219 rows x 2 columns]

In [4]:
# save the DataFrame with main names only
# WARNING: writes over "clean_data/hgf_teamsmain.csv"!
teamsmainnodup.to_csv("clean_data/hgf_teamsmain.csv",index=False)

# Update elocalculator/clean_data/hgf_matches_ordered.csv

In [5]:
# create DB from csv
matches=pd.read_csv(r"clean_data/hgf_matches.csv",skipinitialspace=True,header=0,dtype={'ID':np.int32,'GT1':np.int32,'GT2':np.int32})
matches

,ID,Date,League,Team1,Team2,GT1,GT2,HGF,DGF
0,6598,2014-09-13,Regionalliga Nordwest (Herren GF),SG Hannover,TuS Bloherfelde,8,3,T,F
1,9383,2014-09-13,Regionalliga Nordwest (Herren GF),SG Seebergen/Lilienthal (GF),TV Lilienthal,3,4,T,F
2,7392,2014-09-14,Regionalliga Nordwest (Herren GF),STV Sedelsberg Hawks,SG Mittelnkirchen/Stade,3,2,T,F
3,5994,2014-09-14,Regionalliga Nordwest (Herren GF),TSV Lesum-Burgdamm,TB Uphusen Vikings,4,10,T,F
4,8956,2014-09-20,Stena Line FD-Pokal (Herren),FC Stern München,Floorball Butzbach,4,7,T,F
...,...,...,...,...,...,...,...,...,...
5099,27143,2022-06-18,1. FBL Herren - Playoffs,ETV Piranhhas Hamburg,Floor Fighters Chemnitz,2,13,T,F
5100,27144,2022-06-18,1. FBL Herren - Playoffs,DJK Holzbüttgen,UHC Sparkasse Weißenfels,6,5,T,F
5101,27145,2022-06-24,Herren Großfeld Regionalliga Schleswig-Holstei...,BW96 Schenefeld II,SG TSV Bordesholm / TuS Gaarden,4,9,T,F
5102,27141,2022-06-25,Relegation 1. FBL Herren / 2. FBL,Lilienthaler Wölfe,VfL Red Hocks Kaufering,7,8,T,F
5103,27147,2022-06-25,1. FBL Herren - Playoffs,UHC Sparkasse Weißenfels,DJK Holzbüttgen,3,4,T,F

In [6]:
# Database of individual teams
teams=pd.read_csv(r"clean_data/hgf_teams.csv",skipinitialspace=True,header=0,names=['OrigName','MainName','TeamID'])
teams

                            OrigName                         MainName  TeamID
0                           ASV Köln                         ASV Köln       1
1                         ASV Köln 1                         ASV Köln       1
2                         ASV Köln 2                       ASV Köln 2       2
3              ATS Buntentor Knights            ATS Buntentor Knights       3
4                      Baltic Storms                    Baltic Storms       4
..                               ...                              ...     ...
289      SCS Berlin Floorball Nation      SCS Berlin Floorball Nation     224
290                SG Gießen/Marburg                SG Gießen/Marburg     225
291               SG Mainz/St.Wendel               SG Mainz/St.Wendel     226
292  SG TSV Bordesholm / TuS Gaarden  SG TSV Bordesholm / TuS Gaarden     227
293                   TSG Erlensee 2                   TSG Erlensee 2     228

[294 rows x 3 columns]

In [7]:
# Add MainName and TeamID to the matches DB
nm = len(matches)
nt = len(teams)

# add new columns
matches['T1ID']=pd.Series([0]*nm,index=np.arange(nm))
matches['T2ID']=pd.Series([0]*nm,index=np.arange(nm))


for im in range(nm):
    t1 = matches['Team1'].iloc[im]
    t2 = matches['Team2'].iloc[im]
    for it in range(nt):
        altname = teams['OrigName'].iloc[it]
        tid = teams['TeamID'].iloc[it]
        
        if t1==altname:
            matches['T1ID'].iloc[im]=tid
        if t2==altname:
            matches['T2ID'].iloc[im]=tid
            
matches

/data105/rauch/Programme/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,ID,Date,League,Team1,Team2,GT1,GT2,HGF,DGF,T1ID,T2ID
0,6598,2014-09-13,Regionalliga Nordwest (Herren GF),SG Hannover,TuS Bloherfelde,8,3,T,F,118,189
1,9383,2014-09-13,Regionalliga Nordwest (Herren GF),SG Seebergen/Lilienthal (GF),TV Lilienthal,3,4,T,F,145,76
2,7392,2014-09-14,Regionalliga Nordwest (Herren GF),STV Sedelsberg Hawks,SG Mittelnkirchen/Stade,3,2,T,F,163,127
3,5994,2014-09-14,Regionalliga Nordwest (Herren GF),TSV Lesum-Burgdamm,TB Uphusen Vikings,4,10,T,F,185,170
4,8956,2014-09-20,Stena Line FD-Pokal (Herren),FC Stern München,Floorball Butzbach,4,7,T,F,46,52
...,...,...,...,...,...,...,...,...,...,...,...
5099,27143,2022-06-18,1. FBL Herren - Playoffs,ETV Piranhhas Hamburg,Floor Fighters Chemnitz,2,13,T,F,38,48
5100,27144,2022-06-18,1. FBL Herren - Playoffs,DJK Holzbüttgen,UHC Sparkasse Weißenfels,6,5,T,F,26,203
5101,27145,2022-06-24,Herren Großfeld Regionalliga Schleswig-Holstei...,BW96 Schenefeld II,SG TSV Bordesholm / TuS Gaarden,4,9,T,F,23,227
5102,27141,2022-06-25,Relegation 1. FBL Herren / 2. FBL,Lilienthaler Wölfe,VfL Red Hocks Kaufering,7,8,T,F,76,217
5103,27147,2022-06-25,1. FBL Herren - Playoffs,UHC Sparkasse Weißenfels,DJK Holzbüttgen,3,4,T,F,203,26

In [8]:
# Remove unncessary columns from the matches DB
shortmatches = matches
del shortmatches['Team1']
del shortmatches['Team2']
del shortmatches['HGF']
del shortmatches['DGF']
shortmatches

,ID,Date,League,GT1,GT2,T1ID,T2ID
0,6598,2014-09-13,Regionalliga Nordwest (Herren GF),8,3,118,189
1,9383,2014-09-13,Regionalliga Nordwest (Herren GF),3,4,145,76
2,7392,2014-09-14,Regionalliga Nordwest (Herren GF),3,2,163,127
3,5994,2014-09-14,Regionalliga Nordwest (Herren GF),4,10,185,170
4,8956,2014-09-20,Stena Line FD-Pokal (Herren),4,7,46,52
...,...,...,...,...,...,...,...
5099,27143,2022-06-18,1. FBL Herren - Playoffs,2,13,38,48
5100,27144,2022-06-18,1. FBL Herren - Playoffs,6,5,26,203
5101,27145,2022-06-24,Herren Großfeld Regionalliga Schleswig-Holstei...,4,9,23,227
5102,27141,2022-06-25,Relegation 1. FBL Herren / 2. FBL,7,8,76,217
5103,27147,2022-06-25,1. FBL Herren - Playoffs,3,4,203,26

In [9]:
# save the smaller DataFrame with matches
# WARNING: writes over "clean_data/hgf_matches_ordered.csv"!
shortmatches.to_csv("clean_data/hgf_matches_ordered.csv")